.carouselWrapper {
    width: 100vw;
    padding: 50px 0;
    position: relative;
    background-color: #0f0f0f;
    margin: 50px 0;
}

.embla {
    padding: 20px 0;
    overflow: hidden;
}

.embla__container {
    display: flex;
    align-items: center;
    margin: -10px;
}

.embla__slide {
    flex: 0 0 50%;
}

.slide_image {
    scale: 0.8;
    width: 500px;
    height: 700px;
    transition: transform 0.3s ease;
    /* transition: width 0.5s; */
}

.selected {
    transform: scale(1.2);
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    border-top: 1px solid #333333;
    padding: 5vh 0;
    margin-top: 5vh;
    opacity: 0.8;
}

.progress_bar {
    width: 200px;
    height: 2px;
    background-color: #333333;
    border-radius: 10px;
    margin: 0 20px;
    position: relative;
    overflow: hidden;
}

.progress_thumb {
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.3s ease-in-out;
}
