.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    background: var(--colGrey);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: black;
    padding: 80px 0;
}

.contactContainer {
    /* width: 90%;
    max-width: 1600px; */
    display: flex;
    justify-content: space-between;
}

/* .contact div {
    display: flex;
} */

.info {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.col {
    margin-right: 40px;
}

.col:last-of-type {
    margin-right: 0;
}

.col h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer a {
    transition: opacity 0.2s ease-in-out;
}

.footer a:hover {
    opacity: 0.8;
}

.col p {
    font-weight: 400;
}

.social {
    margin-top: 80px;
}

.social img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.social img:first-of-type {
    margin-right: 20px;
}

.social img:hover {
    transform: scale(1.25);
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 550px;
}

.formRow {
    display: flex;
    margin-bottom: 40px;
}

.inputText {
    background: none;
    border: none;
    border-bottom: solid #545454 1px;
    padding-bottom: 20px;
    margin-right: 20px;
    width: 100%;
    font-size: 0.8rem;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    color: white;
    padding-left: 20px;
}

.inputText:focus {
    border-color: white;
}

.inputText::placeholder {
    color: white;
    opacity: 1;
    letter-spacing: 1px;
    font-size: 0.6rem;
    /* padding-left: 20px; */
}

.inputText:last-of-type {
    margin-right: 0;
}

.inputMessage {
    padding-bottom: 80px !important;
    /* padding-bottom: 0px !important; */
    /* height: 140px; */
}

/* .inputMessage::placeholder {
    position: absolute;
    top: 40px;
    left: 20px;
} */

.submitButton {
    position: relative;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    border: solid white 1px;
    background: black;
    width: 180px;
    height: 60px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: border-color 0.4s ease-in-out;
}

.underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    transform: translate(-100%, 100%) scale(1);
    transition: transform 0.4s ease-in-out;
}

.submitButton span {
    mix-blend-mode: exclusion;
    color: white;
}

.submitButton:hover {
    /* border-color: black; */
}

.submitButton:hover .underlay {
    transform: scale(2);
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: solid rgba(214, 215, 217, 0.2) 1px;
    /* background: black; */
}

.aboutColRightJustify {
    text-align: end;
}

.aboutLogo {
    width: 36px;
    margin-bottom: 40px;
}

.lightText {
    font-weight: 300;
    margin-bottom: 5px;
}

.lightText:last-of-type {
    margin-bottom: 0;
}

.heavyText {
    font-size: 0.9rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.heavyText:last-of-type {
    margin-bottom: 0;
}

.aboutSocial {
    margin-top: 40px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1; */
    padding: 80px 0;
    border-bottom: solid rgba(214, 215, 217, 0.2) 1px;
    background-color: #070707;
    align-items: center;
    justify-content: space-around;
    /* width: fit-content; */
}

.logos img {
    /* flex: 1; */
    /* margin-right: 40px; */
    height: 1fr;
}

.terms {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

.terms p,
.terms li {
    color: #888888;
    font-size: 0.7rem;
    transition: color 0.2s ease-in-out;
}

.terms li:hover {
    color: white;
}

.right {
    display: flex;
    list-style: none;
}

.right li {
    cursor: pointer;
    margin-right: 20px;
}

.right li:last-of-type {
    margin-right: 0;
}

@media (max-width: 1024px) {
    .contactContainer {
        flex-direction: column;
    }

    .info {
        margin-bottom: 80px;
    }

    .firstRow {
        flex-direction: column;
    }

    .col h4 {
        margin-bottom: 5px;
    }

    .col p:last-of-type {
        margin-bottom: 20px;
    }

    .form {
        min-width: auto;
    }

    .formRow {
        flex-direction: column;
    }

    .formName {
        margin-bottom: 40px;
    }

    .about {
        flex-direction: column;
    }

    .aboutColRightJustify {
        text-align: left;
    }

    .heavyText:first-of-type {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .logos img {
        display: block;
        margin-bottom: 20px;
    }

    .terms {
        flex-direction: column;
    }

    .right {
        flex-direction: column;
        margin-top: 20px;
    }
}
