html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.circle {
    width: 65px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 2;
}

.progress-circle {
    width: 65px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    transform: rotate(0deg);
}