@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* @keyframes fadeIn {
    from {
        filter: blur(4px);
        transform: skew(10deg);
    }
    to {
        filter: blur(0px);
        transform: skew(0deg);
    }
} */

:root {
    --colGrey: #0F0F0F;
}

html,
body, button {
  font-family: 'Lexend Deca', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    overscroll-behavior: none;
    /* background-color: var(--colGrey); */
    background-color: black;
    color: white;
    overflow-x: hidden !important;
    /* filter: blur(0px);
    transform: skew(0deg);
    animation-name: fadeIn;
    animation-duration: 0.35s;
    animation-timing-function: ease-in-out; */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
    color: white;
    letter-spacing: 1px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h4 {
    letter-spacing: 1px;
}

.wrapper {
    width: 90%;
    max-width: 1600px;
}

.centred {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle {
    width: 65px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 2;
}

.progress-circle {
    width: 65px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    transform: rotate(0deg);
}

.backToTop {
    cursor: pointer;
    /* padding: 40px;
    padding-right: 0; */
    display: flex;
    align-items: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 40px;
    /* margin-bottom: -40px; */
}

.backToTop p {
    /* font-size: 1rem !important; */
    font-weight: 300 !important;
    margin: 0 !important;
}

.backToTop div {
    width: 1px;
    height: 40px;
    margin-top: 20px;
    background: white;
}

.validation {
    z-index: 100 !important;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
}

.validation form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 300px;
}

.validation form input {
    padding-left: 20px;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding: 5px 50px; */
}

.moreNews {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.newsCard {
    cursor: pointer;
    position: relative;
    width: 48%;
    height: 400px;
    padding: 80px;
    background: var(--colGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.newsCard img {
    object-fit: cover;
    width: 200px;
    aspect-ratio: 1 / 1;
    transition: all 0.35s ease-in-out;

}

.newsCard p {
    font-weight: 300;
    font-size: 1.5rem;
    transition: all 0.35s ease-in-out;
    z-index: 2;
}

.moreNewsFirst {

}

.nextArticle, .prevArticle {
    font-size: 0.8rem !important;
    transition: all 0.35s ease-in-out;
    z-index: 2;
}

.nextArticle {
    position: absolute;
    bottom: 40px;
    left: 80px;
    text-align: left;
    font-size: 0.8rem;
}

.prevArticle {
    position: absolute;
    bottom: 40px;
    right: 80px;
    text-align: right;
}

/* .newsCard:hover img {
    transform: scaleX(2) scaleY(0.02) rotate(90deg);
    filter: blur(4px) brightness(0.4);
} */

/* .newsCard:hover {
    transform: scaleX(1.2);
} */

@media (max-width: 1024px) {
    .moreNews {
        flex-direction: column;
    }

    .newsCard {
        width: 100%;
    }

    .newsCard:first-of-type {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .newsCard {
        align-items: flex-start;
        padding: 40px;
        height: auto;
    }

    .newsCard p {
        font-size: 1rem;
    }

    .newsCard img {
        width: 100px;
    }

    .moreNewsFirst {
        text-align: right;
    }

    .nextArticle, .prevArticle {
        left: 40px;
        bottom: 40px;
        right: auto;
        /* position: relative;
        bottom: auto;
        left: auto;
        right: auto; */
    }

    .prevArticle {
        right: 40px;
    }
}