@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    /* margin-top: 10000px; */
    margin-top: 13000px;
}

.homeWrapper {
    position: relative;
    /* background: black; */
    margin-top: 80px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.hero {
    position: relative;
    width: 100%;
    /* height: calc(100vh - 120px); */
    height: 100vh;
    background: white;
    /* opacity: 0.75; */
}

.blurNew1 {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50px;
    background: rgba(80, 193, 231, 0.5);
    mix-blend-mode: color;
    opacity: 0.5;
    /* backdrop-filter: blur(1px); */
}

.blurNew2 {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: calc(50%+ 50px);
    width: 100%;
    height: 50px;
    background: rgba(62, 162, 195, 0.5);
    mix-blend-mode: color;
    opacity: 0.25;
    backdrop-filter: blur(0.5px);
}

/* .heroTitles {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 80px;
    opacity: 0;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0,1), rgba(0,0,0, 0.0));
    animation: fadeIn 1s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
} */
/* 
.heroTitles h1 {
    font-size: 3rem;
}

.heroTitles h1:last-of-type {
    margin-bottom: 20px;
}

.heroLine {
    width: 40%;
    height: 1px;
    background-color: white;
    opacity: 0.5;
} */

/* .hero img {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 400px;
} */

/* .blur1 {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    background: rgba(80, 193, 231, 0.5);
    mix-blend-mode: color;
    backdrop-filter: blur(2px);
}

.blur2 {
    pointer-events: none;
    position: absolute;
    right: -10%;
    top: 0;
    width: 40%;
    height: 100%;
    border-radius: 50%;
    background: rgba(80, 193, 231, 0.5);
    mix-blend-mode: color;
    backdrop-filter: blur(2px);
} */

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    /* background-color: black; */
}

.card {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 40px;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
}

.card h3 {
    margin-bottom: 20px;
}

.card ul {
    list-style: none;
    /* margin-bottom: 80px; */
    font-weight: 300;
    min-height: 200px;
    font-size: 0.9rem;
}

.cardLine {
    width: 100%;
    height: 10px;
    background-color: #333;
}

.cardLineHover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
}

.card:hover .cardLineHover {
    transform: translateX(0);
}

.card:hover img {
    opacity: 1;
}

.row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.row:last-of-type {
    margin-bottom: 0;
}

.rowStart {
    justify-content: flex-start;
}

.rowEnd {
    justify-content: flex-end;
}

.imgLeftContainer {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 750px;
    margin-bottom: 120px;
    align-self: flex-end;
}

.imgLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    position: relative;
    width: 48%;
    display: flex;
    flex-direction: column;
}

.infoFirst {
    align-items: flex-end;
    text-align: end;
}

.infoFirstEnd {
    align-items: flex-start;
}

.info p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 0.5rem;
}

.info h3 {
    font-weight: 400;
    line-height: 4rem;
    font-size: 3rem;
    max-width: 400px;
    margin-bottom: 40px;
}

.fullImg {
    width: calc(100% - 120px);
    height: 670px;
    margin-left: 120px;
}

.fullImg div {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.fullImgMarginLeft {
    width: calc(100% - 240px);
    margin-left: 240px;
}

.rowImg {
    position: relative;
    width: 40%;
    margin-left: 120px;
    max-height: 310px;
}

.rowImg div {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.imgRightContainer {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 750px;
    /* margin: 80px 0; */
    margin-bottom: 120px;
    align-self: flex-start;
}

.imgRight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.viewButton {
    position: relative;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    border: solid white 1px;
    background: black;
    width: 210px;
    height: 60px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: border-color 0.4s ease-in-out;
}

.underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    transform: translate(-100%, 100%) scale(1);
    transition: transform 0.4s ease-in-out;
}

.viewButton span {
    mix-blend-mode: exclusion;
    color: white;
}

.viewButton:hover {
    /* border-color: black; */
}

.viewButton:hover .underlay {
    transform: scale(2);
}

.rowImages .fullImg {
    width: 40%;
    height: 610px;
    background-size: cover;
}

.rowImages .fullImg:first-of-type {
    margin-left: 120px;
}

.rowImages .fullImg:last-of-type {
    transform: translateY(-50%);
}

.rowShort {
    margin-bottom: -200px;
}

.rowCentre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.brands h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.brandsLine {
    width: 80px;
    height: 1px;
    background-color: white;
}

.logoGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 40px;
    align-items: center;
    justify-items: center;
}

.contentLeftContainer {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 600px);
    background: #0F0F0F;
    margin-bottom: 80px;
}

.contentLeft {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: calc(50vw - 607px);
    padding: 80px;
    padding-left: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.contentLeft p {
    font-weight: 200;
    line-height: 4rem;
    font-size: 2rem;
    max-width: 600px;
}

.sectionLine {
    position: relative;
    width: 60px;
    height: 1px;
    background: white;
    margin-bottom: 80px;
}

.contentFull {
    position: relative;
    width: 100vw;
    height: 600px;
    margin-left: calc(-50vw + 600px);
}

.contentFull img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.25);
}

.contentFull div {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentFull div h1 {
    font-size: 4rem;
    max-width: 500px;
    font-weight: 400;
    margin-bottom: 80px;
}

.contentFull div ul {
    list-style-position: outside;
    transform: translateX(-20px);
}

.contentFull div ul li {
    font-weight: 300;
    margin-bottom: 10px;
}

.contentFull div ul li:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 1350px) {
    .contentLeftContainer {
        width: 100%;
    }

    .contentLeft {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        padding-left: 80px;
    }

    .contentLeft button {
        margin-bottom: 80px;
    }

    .block {
        display: none;
    }
}

@media (max-width: 1024px) {
    .section div {
        width: 100%;
        margin-left: 0;
    }

    .imgLeftContainer, .imgRightContainer {
        width: 100%;
    }

    .contentLeftContainer {
        margin-left: 0;
    }

    .row, .info {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .bg1, .bg2, .bg3 {
        display: none;
    }

    .fullImg {
        width: 100%;
        margin-left: 0;
        height: 250px;
    }

    .rowImages {
        flex-direction: column;
    }

    .rowImages .fullImg {
        margin-left: 0 !important;
        width: 100%;
        height: 250px;
        transform: translateY(0px) !important;
    }

    .rowImages .fullImg:first-of-type {
        margin-bottom: 40px;
    }

    .rowImages .fullImg div {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .rowShort {
        margin-bottom: 120px;
    }

    .mobileRemoveImg {
        display: none;
    }

    .mobileRow {
        flex-direction: column;
    }

    .mobileRow div {
        margin-left: 0;
        margin-bottom: 40px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 80px;
    }

    .grid img {
        /* width: 90%; */
    }

    .logoGrid img {
        width: 50%;
    }

    .contentFull {
        width: 100%;
        margin-left: 0;
    }
}

@media(max-width: 767px) {
    .imgLeftContainer, .imgRightContainer {
        height: 250px;
    }

    .imgLeft, .imgRight {
        height: 250px;
    }

    .row {
        flex-direction: column;
    }

    .info, .rowImg {
        width: 100%;
    }

    .infoFirst {
        align-items: flex-start;
        text-align: left;
    }

    .rowLast {
        flex-direction: column-reverse;
    }

    .contentLeft {
        padding: 40px;
    }

    .contentLeft p {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .contentFull {
        padding-left: 20px;
    }

    .contentFull div h1 {
        font-size: 2rem;
        /* text-align: center; */
    }

    .contentFull div ul li {
        /* text-align: center; */
        font-size: 0.75rem;
        transform: translateX(10px);
        list-style-position: inside;
    }
}