.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.headerImg {
    position: absolute;
    /* top: 0; */
    top: 0px;
    left: 0px;
    /* width: 120%; */
    /* width: 100%; */
    /* height: 100%; */
    width: 100%;
    /* height: 280px; */
    height: 450px;
    /* height: 180px; */
    object-fit: cover;
}

@media (max-width: 1024px) {
    .headerImg {
        width: 100%;
    }
}

.headerAbout {
    /* object-position: 30% 30%; */
    /* top: -50px; */
}

.h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 100px;
}

.line {
    position: relative;
    width: 120px;
    height: 1px;
    background: white;
    margin-top: 20px;
}

.detailGrid {
    margin-top: calc(85vh - 300px);
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 1fr 1fr;
    grid-gap: 20px;
}

.detailGridTitle {
    letter-spacing: 1px;
}

@media (max-width: 767px) {
    .detailGrid {
        margin-top: calc(60vh - 300px);
        grid-template-columns: repeat(3, 100px);
        grid-gap: 10px;
        font-size: 0.8rem;
    }
}
